<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ExamPortal</title>
  
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>


  <!-- Main Content -->
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6 offset-md-3 text-center">
        <h1><b>Welcome to ExamPortal</b></h1>
        

        <!-- Home Page Button -->
        <button class="btn btn-primary mt-3">Home Page</button>
      </div>
    </div>
  </div>

    <!-- Study Material Section -->
<!-- Study Material Section -->
<div class="container mt-5">
  <h3>Study Material</h3>
  <div class="row mt-3">
    <!-- Card 1: GeeksforGeeks Java -->
    <div class="col-md-4">
      <div class="card">
        <img src="https://static.startuptalky.com/2021/06/GeeksforGeeks-StartupTalky.jpg" class="card-img-top" alt="GeeksforGeeks Java">
        <div class="card-body">
          <h5 class="card-title">GeeksforGeeks Java</h5>
          <p class="card-text">Comprehensive Java tutorials and resources.</p>
          <a href="https://www.geeksforgeeks.org/java/" target="_blank" class="btn btn-primary">Go to Java Resources</a>
        </div>
      </div>
    </div>

    <!-- Card 2: YouTube Java Videos -->
    <div class="col-md-4">
      <div class="card">
        <img src="https://download.logo.wine/logo/Java_(programming_language)/Java_(programming_language)-Logo.wine.png" class="card-img-top" alt="YouTube Java">
        <div class="card-body">
          <h5 class="card-title">YouTube Java Videos</h5>
          <p class="card-text">Watch Java tutorials on YouTube to enhance your understanding.</p>
          <a href="https://www.youtube.com/results?search_query=java+tutorials" target="_blank" class="btn btn-primary">Watch Videos</a>
        </div>
      </div>
    </div>

    <!-- Card 3: Java Documentation -->
    <div class="col-md-4">
      <div class="card">
        <img src="https://getwallpapers.com/wallpaper/full/6/7/d/491909.jpg" class="card-img-top" alt="Java Documentation">
        <div class="card-body">
          <h5 class="card-title">Java Documentation</h5>
          <p class="card-text">Official Java documentation for in-depth knowledge.</p>
          <a href="https://docs.oracle.com/javase/tutorial/" target="_blank" class="btn btn-primary">Visit Documentation</a>
        </div>
      </div>
    </div>

    <!-- Card 4: GeeksforGeeks DBMS -->
    <div class="col-md-4">
      <div class="card">
        <img src="https://static.startuptalky.com/2021/06/GeeksforGeeks-StartupTalky.jpg" class="card-img-top" alt="GeeksforGeeks DBMS">
        <div class="card-body">
          <h5 class="card-title">GeeksforGeeks DBMS</h5>
          <p class="card-text">Learn Database Management Systems with in-depth tutorials.</p>
          <a href="https://www.geeksforgeeks.org/dbms/" target="_blank" class="btn btn-primary">Go to DBMS Resources</a>
        </div>
      </div>
    </div>

    <!-- Card 5: Operating Systems -->
    <div class="col-md-4">
      <div class="card">
        <img src="https://static.startuptalky.com/2021/06/GeeksforGeeks-StartupTalky.jpg" class="card-img-top" alt="Operating Systems">
        <div class="card-body">
          <h5 class="card-title">Operating Systems</h5>
          <p class="card-text">Explore Operating Systems concepts with these resources.</p>
          <a href="https://www.geeksforgeeks.org/operating-systems/" target="_blank" class="btn btn-primary">Go to OS Resources</a>
        </div>
      </div>
    </div>

    <!-- Card 6: Data Structures -->
    <div class="col-md-4">
      <div class="card">
        <img src="https://static.startuptalky.com/2021/06/GeeksforGeeks-StartupTalky.jpg" class="card-img-top" alt="Data Structures">
        <div class="card-body">
          <h5 class="card-title">Data Structures</h5>
          <p class="card-text">In-depth tutorials on Data Structures.</p>
          <a href="https://www.geeksforgeeks.org/data-structures/" target="_blank" class="btn btn-primary">Go to DS Resources</a>
        </div>
      </div>
    </div>

    <!-- Card 7: Computer Networks -->
    <div class="col-md-4">
      <div class="card">
        <img src="https://static.startuptalky.com/2021/06/GeeksforGeeks-StartupTalky.jpg" class="card-img-top" alt="Computer Networks">
        <div class="card-body">
          <h5 class="card-title">Computer Networks</h5>
          <p class="card-text">Learn about Networking concepts and protocols.</p>
          <a href="https://www.geeksforgeeks.org/computer-network-tutorials/" target="_blank" class="btn btn-primary">Go to CN Resources</a>
        </div>
      </div>
    </div>

    <!-- Card 8: Algorithms -->
    <div class="col-md-4">
      <div class="card">
        <img src="https://static.startuptalky.com/2021/06/GeeksforGeeks-StartupTalky.jpg" class="card-img-top" alt="Algorithms">
        <div class="card-body">
          <h5 class="card-title">Algorithms</h5>
          <p class="card-text">Master algorithms with practical examples.</p>
          <a href="https://www.geeksforgeeks.org/fundamentals-of-algorithms/" target="_blank" class="btn btn-primary">Go to Algorithms Resources</a>
        </div>
      </div>
    </div>

    <!-- Card 9: Compiler Design -->
    <div class="col-md-4">
      <div class="card">
        <img src="https://static.startuptalky.com/2021/06/GeeksforGeeks-StartupTalky.jpg" class="card-img-top" alt="Compiler Design">
        <div class="card-body">
          <h5 class="card-title">Compiler Design</h5>
          <p class="card-text">Understand the fundamentals of compiler design.</p>
          <a href="https://www.geeksforgeeks.org/compiler-design-tutorials/" target="_blank" class="btn btn-primary">Go to Compiler Design</a>
        </div>
      </div>
    </div>
  </div>
</div>
